streamlit
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
langgraph
openai
chromadb==0.5.23
numpy==1.26.4
protobuf==4.25.3
grpcio==1.62.1
yfinance
requests
pandas
plotly
pdfplumber
python-dotenv
faiss-cpu
